html, body{
    margin: 0;
    background-color: #4fc0c0;
    background-image: linear-gradient(315deg, #0cbaba 0%, #7e2279 74%);
    /* background: rgb(237, 242, 245);
    background: linear-gradient(90deg, rgb(111, 164, 189) 0%, rgb(111, 138, 197) 35%, rgb(160, 199, 221) 100%); */
 }
label{
    font-weight: bold;
}
#viewmodal .modal-body{
    display: grid;
    grid-template-rows:fr;
    background-color: beige
}

#exampleModal .modal-body{
    display: grid;
    grid-template-rows:fr;
    background-color: beige
}
.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.nav-link{
    color: white;
}
#head{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left:28%;
    margin-top: 4%;
}
#eventh{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-left:23%;
    color:white;
}
.blue{
    margin-top: 5%;
    color: white;
}
.modal, .modal-body {
    overflow-y: auto;
  }
.modal-dialog {
    height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
  }
.modal-content {
    height: 100%; /* = 100% of the .modal-dialog block */
  }
.card{
    background-color: rgb(235, 235, 247);
    border: 1px solid black;
    margin: 20px ;
    padding: 10px 10px 10px 10px;
}
.card:hover{
    border-color: green;
    box-shadow: indigo;
    cursor: pointer;
}
input[type=image]{
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 2%;
}
.addE,.delE{
    margin-left: 20px;
    margin-top: 6px;
    border-radius: 3%;
    background-color: #1e5683;
    color: white;
}

input[type="radio"]:checked + label{
    font-weight: normal;
    background-color: rgb(212, 212, 241);
}


 footer{

     background-color:black;
 }

input[type=image]:hover{
    transform: scale(1.3);
}
/* .add,.delete{
    height:"10px" ;
    width:"10px";
    margin-left: 20px;
    background-color: white;
    border-radius: 5%;
} */
.ngo-logo{
    margin-left:33% ;
    padding-top: 2%;
}
.dropdown{
    margin-left: 2%;
}
/* .d-flex{
    margin-right: 3%;
} */
#ngo-details{
    width: 100%;
    margin-left: 3%;
    margin-top: 2%;
}
