<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Explore Here!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="../static/css/ngo.css">

  <script>
    function myFunction() {
      console.log("Click Search")
      var input, filter, cards, h5, title, i;
      input = document.getElementById("text");
      filter = input.value;
      cards = document.getElementsByClassName("card");
      for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-title");
        if (title.innerText.indexOf(filter) > -1) {
          cards[i].style.display = "";
        } else {
          cards[i].style.display = "none";
        }
      }
    }
  </script>
  <style>
    html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .hello {
      margin-top: 20px;
    }

    .danner {
      margin-top: 8px;
    }

    body {
      background-color: #0cbaba;
      background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    }

    #row-events {
      display: grid;
      grid-template-columns: repeat(3, 0.5fr);
      grid-auto-rows: auto;

    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/static/img/logo.jpg" alt="logo" height="30px" width="150px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="window.location.href='about'">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#foot">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <div>
    <form class=" hello d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="text">
      &nbsp &nbsp
      <input type="button" value="Search" class="btn btn-outline-success" style="color: white;" onclick="myFunction()">
    </form>
  </div>


  {% block body %}

  <div class="danner">
    <div class="row" id="row-events">
      {% for row in upevents %}
      <div class="events" style="width: 30rem; height:700px;">
        <div class="card" style="width: 20rem; height: 33rem" id="column">
          <img src="../static/img/{{row[5]}}" height="200px" width="100px" class="card-img-top" alt="plantation">
          <div class="card-body row">
            <h5 class="card-title">{{row[0]}}</h5>
            <p class="card-text">
              {{row[4]}}
            </p>
            <div>
              <h6 id="loc">Location and Timings: </h6>
                  <div style="font-weight: text-light">
                    {{row[1]}} <br>
                    {{row[2]}} &nbsp;
                    {{row[3]}}
                  </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
  <br>
  <br>
  <footer class="text-center text-white" style="background-color: black;" id='foot'>
    <div class="container pt-4">
      <section class="mb-4">
        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fas fa-envelope"></i></a>
      </section>
    </div>
    <div class="text-center text-light p-3">
      © 2021 Copyright:
      <a class="text-light" href="#">Community Service And Volunteering Website</a>
    </div>

  </footer>
</body>

</html>